body {
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  background: url(gpe1.jpg) top left no-repeat;
  background-position: 50% 50%;
  background-size: cover;
  backdrop-filter: blur(8px);
}

@media screen and (max-width: 520px) {
  .container {
    width: 80%;
    min-width: 380px;
    min-height: 490px;
  }
  .tab-body {
    width: 100%;
    padding: 15% 5%;
    margin-top: 25%;
    max-height: 420px;
  }
}
